
<% const roverList = rovers.getIn([0]) %>

<% roverList.forEach(rover => { %>
  <article class="rover-card">
    <a href="./<%= rover.getIn(['name']) %>">
      <h2 class="card-heading"><%= rover.getIn(['name']) %></h2>
      <img
        class="card-img"
        src="/assets/images/<%= rover.getIn(['name']) %>.jpg"
        alt=""
      />      
      <ul class="card-ul">
        <li>Launch Date: <%= rover.getIn(['launch_date']) %></li>
        <li>Landing Date: <%= rover.getIn(['landing_date']) %></li>
        <li>Mission Status: <%= rover.getIn(['status']) %></li>
        <li>Most Recent Photos: <%= rover.getIn(['max_date']) %></li>
        <li>Total Photos: <%= rover.getIn(['total_photos']) %></li>
      </ul>
    </a>
    <% if(roverList.size === 1) { %>
      <%- include('./search-form', { rover: roverList }) %>
    <% } %>
  </article>
<% }) %>
