<!-- refromat date from YYYY-MM-DD to M/D/YYYY -->
<% const formatDateUs = (dateString) => { %>
  <% const dateArray = dateString.split('-') %>
  <% dateArray.push(dateArray.shift()) %>
  <% dateArray.forEach((num, i) => { %>
    <% if (num[0] === '0') { %>
      <% dateArray[i] = num[1] %>
    <% } %>
  <% }) %> 
  <% const formattedDate = dateArray.join('/') %>
  <% return formattedDate %>
<% } %>

<% picArray.forEach(pic => { %>
  <figure class="img-wrapper">
    <img class="rover-img" src="<%- pic.img_src %>" alt="rover image" />
    <figcaption class="caption">
      <p><%- pic.rover.name %></p>
      <p><%- formatDateUs(pic.earth_date) %></p>
      <p>Sol <%- pic.sol %></p>
      <p><%- pic.camera.full_name %></p>
    </figcaption>
  </figure>
  <div class="modal">
    <div class="modal-close-x">&times;</div>
    <a href="<%- pic.img_src %>" alt="original image" target="_blank">
      <img class="modal-img" src="<%- pic.img_src %>" alt="rover image" />
    </a>
    <div class="modal-caption">
      <p><%- pic.rover.name %></p>
      <p><%- formatDateUs(pic.earth_date) %></p>
      <p>Sol <%- pic.sol %></p>
      <p><%- pic.camera.full_name %></p>
    </div>
  </div>
<% }); %>
